.App {
  text-align: center;
  color:rgb(255, 255, 255);
  display: flex;
}

.cardsContainer{
  height: 100vh;
  width: 100vw; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  color:white; 
  font-size: 20px;
 } 